    <div data-role="page" data-theme="c">
      <div data-role="header" data-position="inline" data-theme="f">
        <h1>Happy Chart</h1>
<!--        <div data-role="navbar">
          <ul>
            <li><a href="index.html" data-icon="home">ホーム</a></li>
            <li><a href="history.html" data-icon="star">私の歴史</a></li>
            <li><a href="chart.html" data-icon="star" class="ui-btn-active">チャート</a></li>
            <li><a href="s.html" data-icon="grid">みんなのハッピー</a></li>
            <li><a href="nav.html" data-icon="search">Nav</a></li>
            <li><a href="forms.html" data-icon="gear">Forms</a></li>

          </ul>
        </div>
-->
      </div>

      <center><h2>あなたは何を大切にしていますか?</h2></center>
<center>人はそれぞれ幸せは違います。<br>住んでいる地域によっても違います。<br>あなたの幸せ、比較してみませんか？</center>
<br>
　
<br>
<div id="charts">
<div class="chart"><div id="container0" style="width: 320px; height: 300px; margin: 0 auto; "></div><img class="overlay" src="/assets/chart.png" alt="" /></div>
<div class="chart"><div id="container1" style="width: 320px; height: 300px; margin: 0 auto; "></div><img class="overlay" src="/assets/chart.png" alt="" /></div>
</div>　
<br>

<br>



          <div data-role="content" data-theme="b" style="clear:both">
              <a href="facebook.html" data-role="button" data-icon="check" data-iconpos="right">Facebook経由ではじめる</a></li>
              <a href="twitter.html" data-role="button" data-icon="check" data-iconpos="right" data-theme="f">Twitter経由ではじめる</a></li>
              <a href="home.html" data-role="button" data-icon="check" data-iconpos="right" data-theme="c">ログインせずにはじめる</a></li>
          </div>



    </div>
