<% content_for :head do %>
  <%= javascript_include_tag 'japan_map.js' %>
<% end %>
    <div data-role="page">
      <div data-role="header" data-position="inline" data-theme="b">
  <h1 data-theme="c">Happy Chart</h1>
  <div data-role="navbar" data-theme="b">
    <ul>
      <li><a href="home" data-icon="home"  data-ajax="false">ホーム</a></li>
<!--      <li><a href="history.html" data-icon="star" data-ajax="false">私の歴史</a></li> -->
      <li><a href="chart" data-icon="star" data-ajax="false">私のハッピー</a></li>
      <li><a href="japan" data-icon="grid" class="ui-btn-active"> みんなのハッピー</a></li>
    </ul>
  </div>
      </div>

    <div data-role="content" >
      <div style="padding-top: 5pt ; text-align:center; ">
        <embed id="esvg" src="<%= asset_path 'emb_japan.svg' %>" type="image/svg+xml" width="320" height="320" />
      </div>

    </div>
    <div data-role="footer" data-theme="b">
      <div id="label" style="line-height: 1.5; width: 100%; text-align: center">他の地域と比較してみよう</div>
    </div>
    </div>



    <div id="explain" onclick="jump_diff()">
      地域を選んで<br>ここをクリック
    </div>
