/*
* chart.css
*/

.chart {
 position: relative;
 width: 320px;
 height: 320px;
}
.chart div { display: block; }

div.overlay {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 320px;
 height: 320px;
}

.town {
  text-indent: 24px;
  background-image: url(<%= asset_path 'icon_town.png' %>);
  background-repeat: no-repeat;
  background-position: left center;
}
