// Stylesheet
#info
{
    width: 60px;
    height: 60px;
    background-color: rgba( 0.3, 0.5, 0.5, .05 );
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto 50px;
    text-decoration: none;
}
#info:hover
{
    background-color: rgba( 0.3, 0.5, 0.5, .1 );
}
#info abbr
{
    height: 100%;
    font-size: 2.188em;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-shadow: 0 1px rgba( 0.5, 0.5, 0.5, .25 );
    color: #fff;
    background: #84e100;
    background: linear-gradient( top, #84e100, #6fbc00 );
    border-radius: 50%;
    border: none;
    cursor: help;
    display: block;
}


#tooltip
{
    font-size: 0.875em;
    text-align: center;
//    text-shadow: 0 1px rgba( 0.3, 0.3, 0.3, .5 );
    line-height: 1.5;
    color: #fff;
    background: #333;
    background: linear-gradient( top, rgba( 0.3, 0.3, 0.3, .6 ), rgba( 0.3, 0.3, 0.3, .8 ) );
    border-radius: 5px;
    border-top: 1px solid #fff;
    box-shadow: 0 3px 5px rgba( 0.3, 0.3, 0.3, .3 );
    position: absolute;
    z-index: 100;
    padding: 15px;
}

#tooltip:after
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    border-top-color: rgba( 0, 0, 0, .7 );
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after
{
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    border-bottom-color: rgba( 0, 0, 0, .6 );
    top: -20px;
    bottom: auto;
}

#tooltip.left:after
{
    left: 10px;
    margin: 0;
}

#tooltip.right:after
{
    right: 10px;
    left: auto;
    margin: 0;
}



#explain
{
    font-size: 10pt;
    text-align: center;
    line-height: 1.2;
    color: #fff;
    background: #338;
    border-radius: 5px;
    border-top: 1px solid #fff;
    box-shadow: 0 3px 5px rgba( 0, 0, 0, .3 );
    position: absolute;
    z-index: 101;
    padding: 15px;
    visibility: hidden;
}

#explain:hover
{

}



#flabel
{
   position: absolute;
   top: 450px;
}